# Umami
UMAMI_DB_PASSWORD=change_me_db_password
UMAMI_APP_SECRET=change_me_app_secret


# Grafana
GRAFANA_ADMIN_PASSWORD=change_me_grafana_password

# Email alerts (QQ mail example - enable IMAP/SMTP service first to get auth code)
SMTP_TO=your_email@qq.com
SMTP_FROM=your_email@qq.com
SMTP_HOST=smtp.qq.com:587
SMTP_USER=your_email@qq.com
SMTP_PASSWORD=your_16_char_auth_code
